@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: #0d1a2d;
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  line-height: 25px;
}
.mainwrapper {
  display: block;
  position: relative;
  background-color: hsl(216, 50%, 16%);
  width: 290px;
  margin: auto;
  border-radius: 15px;
  padding: 30px;
  margin-top: 9%;
  box-shadow: #0c1729 0px 0px 10px 10px, #0c1729 0px 0px 20px 20px;
}
.equilibrium {
  color: white;
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
}
.equilibrium:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.mainwrapper .eth {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  font-size: 16px;
  padding: 2px;
}
.mainwrapper .text {
  float: right;
  font-size: 16px;
  font-weight: 400;
}
.hline {
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  border: 0px;
}
.container {
  position: relative;
  width: 100%;
}
.img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  position: relative;
}
.overlay {
  position: absolute;
  background: url("./images/icon-view.svg") no-repeat center
    hsla(178, 100%, 50%, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 15px;
}
.container:hover .overlay {
  opacity: 1;
}
.avatar {
  width: 10%;
  border: 1px white solid;
  border-radius: 20px;
  margin-top: 10px;
}
.mainwrapper .credits {
  font-size: 15px;
  font-weight: 400;
  float: right;
  padding-top: 15px;
  padding-right: 80px;
}
.name {
  color: white;
}
.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
